@media only screen and (min-width: 1800px) {
    .hero .circle-dark {
        width: 35rem;
        height: 35rem;
    }
    .quote .row {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}