/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.top-bar {
    background-color: var(--black);
}

.top-bar a {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
}

.top-bar .top-item svg {
    width: 1.5rem;
}

.top-bar .top-item a:nth-of-type(2) svg {
    margin-right: 2rem;
    margin-left: 2rem;
}
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.nav-outer {
    /* background-color: var(--black); */
}

.navbar-toggler {
    border: none;
}
#main-nav .nav-item {
    border-bottom: thin solid rgba(150, 132, 58, 0.35)
}
#main-nav .active a {
    color: var(--gold2);
}

#main-nav a {
    /* text-transform: uppercase; */
    color: var(--black);
    font-weight: 600;
    transition: all .3s;
}


.nav-outer .container {
    padding: 0;
}


.navbar ul {
    padding: 0;
}

    .navbar ul li, .navbar-toggler, .mobile-search-btn {
        padding-left: calc(var(--bs-gutter-x) * .5);
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

        .navbar-nav .nav-item, .navbar ul li:first-child {
            padding: 1rem calc(var(--bs-gutter-x) * .5);
        }

        .navbar a {
            padding: 0;
        }
        .nav-contact-contain {
            padding: 0 calc(var(--bs-gutter-x) * .5);
        }

/* Collapse Button Mobile */
.animated-icon {
    cursor: pointer;
    height: 20px;
    margin: 0px;
    position: relative;
    width: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

    .animated-icon span {
        border-radius: 9px;
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        opacity: 1;
        width: 100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon span {
        background: var(--black);
    }

        .animated-icon span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

    .animated-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }

    #main-nav .logo-top {
        width: 6rem;
        height: 6rem;
    }
/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero {
    background-color: var(--gold1);
    /* height: 30rem; */
    overflow: hidden;
    position: relative;
}
.hero .text-col {
    position: relative;
}
.hero .circle-dark {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background: var(--gold2);
    position: absolute;
    z-index: 0;
    bottom: -10rem;
    left: -10rem;
}
.hero .hero-text {
    padding: 5rem 0 0 0;
    text-align: center;
}
.hero .hero-text h1 {
    font-weight: 600;
    font-size: 3rem;

}
.hero .hero-text p {
    font-size: 1.5rem;
}
.hero .img-col {
  display: flex;
  justify-content: center; /* horizontal center */
}

.hero .img-col .img-container {
  position: relative;
  width: 23rem;
  height: 23rem;
  max-width: 100%;
}

.hero .img-col .img-container {
    position: relative;
    align-self: center;
}

.hero .img-col img {
    max-width: 100%;
    width: 21rem;
    height: 21rem;
    position: absolute;
    top: 1rem;
    left: 0;
    z-index: 9999;

}
.hero .img-col .circle-white {
    background-color: var(--white);
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/*--------------------------------------------------------------
# Our Doors - Homepage
--------------------------------------------------------------*/
.our-doors-home a.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 2.5rem;
}
.our-doors-home a.card svg {
    width: 75%;
    margin-bottom: 1.5rem;
}
.our-doors-home p {
    text-transform: uppercase;
    font-size: 1.875rem;
}
.our-doors-home a {
    text-decoration: none;
    color: var(--black);
}

.our-doors-home a.card p:nth-of-type(2) {
    font-size: 1rem;
    transition: all .3s;
    margin-top: -.5rem;
}
.our-doors-home a.card svg polyline {
    transition: all .3s;
}
.our-doors-home a.card:hover svg polyline:nth-of-type(1) {
    fill: var(--gold2)!important;
}

.our-doors-home a.card:hover p:nth-of-type(2) {
    transform: translateY(-1rem);
}

/*--------------------------------------------------------------
# Quote
--------------------------------------------------------------*/
.quote {
    background-color: var(--black);
}
.quote .img-col {
    position: relative;
}
.quote .img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}
.quote .img-text p {
    color: var(--white);
    text-align: center;
    margin-bottom: 0;
}