/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .our-doors-home p {
    font-size: 1.25rem;
    }
    .our-doors-home a.card p:nth-of-type(3) {
        font-size: .75rem;
    }
}