/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .our-doors-home p {
    font-size: 1.25rem;
    }
    .our-doors-home a.card p:nth-of-type(3) {
        font-size: .75rem;
    }
    .quote .img-text p {
        font-size: 1.5rem;
    }
   
    .info .info-text h2 {
        font-size: 5rem;
    }
    .process .card-process svg {
        width: 50%;
    }
    .process h2 {
        color: var(--white);
    }
    .process h3 {
        font-size: 2rem;
    }
    .process p {
        font-size: 1.5rem;
    }
    
    .shfooter .collapse {
        display: none;
    }
}