/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    #main-nav .logo-top {
        width: 8rem;
        height: 8rem;
    }
    .hero .hero-text {
        text-align: right;
    }
    .hero .img-container.swiper {
        margin-right: 0!important;
    }
    .info .info-text {
        text-align: left;
    }
    .info .img-container.swiper {
        margin-left: 0!important;
    }
    .info .circle-dark {
        width: 35rem;
        height: 35rem;
        bottom: -7rem;
        left: -7rem;
    }
    .process .card-process svg {
        width: 75%;
    }
    .process h2 {
        color: var(--white);
    }
    .process h3 {
        font-size: 2rem;
    }
    .process p {
        font-size: 1.5rem;
    }
}