/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .hero .hero-text {
        text-align: left;
    }
    .hero .img-container.swiper {
        margin-right: 0!important;
    }
}