/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    #main-nav .nav-item {
        border: none;
    }
    #main-nav .active {
        border-bottom: thin solid var(--gold2);
    }
    #main-nav .nav-item a {
        transition: all 0.3s;
    }
    #main-nav .nav-item {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }
    #main-nav .nav-item a:hover {
        color: var(--black);
        opacity: 0.7;
    }
    #main-nav .active a:hover {
        color: var(--gold2);
        opacity: 1;
    }
     .quote .row {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .img-section {
        max-height: 105vh;
        overflow: hidden;
    }
    /* Footer - XLarge Devices */
footer, footer a {
    font-size: 1.125rem;
}
.shfooter .collapse {
    display: block;
    }
    footer .fa-chevron-right {
    display: inline-block;
    }
    footer ul li {
    margin-bottom: 10px;
    
    }
    footer ul li span {
        display: inline-block;
    }
    footer ul li a:hover span {
        animation: arrow-right 0.3s linear forwards; 
              
          }
      
      @keyframes arrow-right {
        from {
          transform: translateX(0px); }
        to {
          transform: translateX(2px); } 
          
      }
    
      #footer .footer-title {
        font-size: 1.5rem;
      }
      .footer-logo-desktop {
        margin-top: -1rem;
      }
      
      .quote .img-col {
        padding: 9rem 0;
      }
   
}
        